<% provide(:title, 'Les events') %>
<% if user_signed_in? %>

<section class="hero">
	<div class="hero-inner"></div>
	<h1>Event Brite</h1>
	<h2>Le hub de tous les evenememnts</h2>
	<a href="<%=new_event_path%>" class="btn">Creer un evenement</a>
	</div>
</section>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<h2 class="h1 mb-3 font-weight-normal text-center">Evènements à Lyon !</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- ---------------------------------------- FIN STATUS ----------------------- -->
	<div class="row">
		<!-- ---------------------------------------- AVATAR + NOM ----------------------- -->

		<div class="container"></div>
		<% @event.all.each do |event|  %>
		<div class="card-deck space-between">
			<div class="card " style="width: 14rem;">
				<img class="card-img" src="https://i.ytimg.com/vi/_-cLyDuU7JM/hqdefault.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title"><%=event.title%></h5>
					<a href="<%=event_path(event.id)%>" class=" btn btn-primary">En savoir plus</a>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
</div>
</div>
<% else user_signed_in? %>

<div class="jumbotron">
	<h1 class="display-4">Vous n'etes pas connecte</h1>
	<p class="lead">Pour avoir acces a ces evenements, vous devez vous connecter</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" <%=link_to "S'inscrire" , new_user_registration_path %></a> <a
			class="btn btn-primary btn-lg" <%=link_to "Se connecter" , new_user_session_path %></a> </p> </div> <% end%>