<% provide(:title, 'My profile') %>

<div class="container text-center">
  <div class="col-sm-12">
    <!-- -------------------------Encadre haut ------------------------------- -->

    <!-- ---------------------------------------- second ----------------------- -->
    <div class="row mr-auto">
      <div class="well">
        <div class="col-sm-6">
          <h2 class="h3 mb-3 font-weight-normal text-center">Mon profile</h2><br>
          <hr class="my-0">
          <hr class="my-0"><br>
          <p>Nom complet :
            <%= current_user.first_name %>
            <% unless current_user.last_name.blank? %>
            <%= current_user.last_name.upcase %>
          </p>
          <% end %>
          <hr class="my-0">
          <hr class="my-0"><br>
          <%if current_user.is_admin == true%>
          <%= link_to "Acceder au panneau admin", admin_root_path, class:"btn btn-primary btn-md" %>
          <%end%>
          <p>
            <%= current_user.email %>
          </p>
          <hr class="my-0">
          <hr class="my-0"><br>
          <p>
            <%= current_user.description  %>
          </p>
        </div>

        <div class="col-sm-12">
          <hr class="my-0">
          <hr class="my-0"><br>
          <div class='d-flex justify-content-between align-items-center'>
            <div>
              <%= link_to "Editer infos", edit_user_path(current_user.id), class:"m-1 btn btn-primary btn-md" %>
            </div>
            <div>
              <%= link_to "Editer infos de connexion", edit_user_registration_path, class:"btn btn-primary btn-md" %>
            </div>
          </div><br>
          <hr class="my-0">
          <hr class="my-0"><br>
          <h2 class="h3 mb-3 font-weight-normal text-center">Mes events</h2>
          <div class="card-group d-flex justify-content-center">
            <% current_user.events.each do |event| %>
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header">
                <%= event.title  %>
              </div>
              <div class="card-body text-secondary">
                <%= link_to "Voir event", event_path(event.id), class:"btn btn-primary" %>
                <%= link_to "Editer", edit_event_path(event.id), class:"btn btn-primary" %>
                <a class="btn btn-danger" <%=link_to 'ajouter un s' , event_path(event.id), class:"btn btn-primary
                  btn-md", role:"button", :data=> {:confirm => "Est tu sur de vouloir ajouter un s", :method =>
                  "delete"} %></a>
              </div>
            </div>
            <% end %>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>